*{
    box-sizing: border-box;
}
body {
    background-color: #35e871;
}
.container {
    color:#0F172A;
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    background-color: rgb(42, 199, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
}

.container .place_of_word {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.container .place_of_word textarea {
    color: #1E293B ;
    border: E2E8F0 ;
    width: 47%;
    height: 300px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    outline: none;
    
}

.container .divSelect {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}

.container .divSelect select {
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 2px solid #E2E8F0 ;
    color: #E2E8F0 ;
}

.container .btn-translate {
    width: 200px;
    height: 50px;
    margin: 40px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF ;
    background-color: #2563EB ;
    cursor: pointer;
}
.container .btn-translate:hover {
    background-color: #1D4ED8;
}